@import "../base/mixins";
.big_price_new {
  color: var(--danger-600, #ff316a);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: none;
}

.big_price_old {
  margin: 0;
  color: var(--grey-900, #1d232c);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}

.big_wrapper {
  display: flex;
  flex-direction: column;
}
